.forgot-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Top bar (igual ao Login) */
.forgot-page .top-bar {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 2px;
  padding: 8px 16px;
  align-items: center;
  color: #000;
}


.forgot-page .logo-area {
  display: flex;
  align-items: center;
}


.forgot-page .logo-area img {
  height: 80px;
  margin-left: 60px;
  margin-top: 2   0px; 
}

.forgot-page .nav-links {
  display: flex;
  gap: 20px;
}

.forgot-page .nav-links a {
  color: #003465;
  margin-bottom: 4px;
  text-decoration: none;
  font-weight: bold;
}

/* Forgot Password Box */
.forgot-page .forgot-box {
  margin: auto;
  margin-bottom: 320px;
  background: rgb(88, 130, 193, 0.4);
  backdrop-filter: blur(12px);
  padding: 40px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.forgot-page .forgot-box h2 {
  margin-bottom: 10px;
  color: #003465;
}

.forgot-page .instruction {
  font-size: 14px;
  color: #444;
  margin-bottom: 20px;
}

.forgot-page .forgot-box label {
  display: block;
  text-align: left;
  margin: 10px 0 6px 20px;
  margin-left: 29px;
  font-weight: 500;
  color: #002b7f;
}

.forgot-page .forgot-box input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 20px;
}

.forgot-page .reset-button {
  background-color: #003465;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.forgot-page .reset-button:hover {
  background-color: #002b7f;
}

* {
  font-family: 'Inter', sans-serif;
}
