.login-page {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    color: #000;
  }
  
  
  .logo-area img {
    height: 80px;
    margin-left: 60px;
    margin-top: 2   0px;
  }
  

  .nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
  }
  
  .login-box {
    width: 500px;
    min-width: 600px;
    margin: auto;
    background: rgb(88, 130, 193, 0.4);
    padding: 40px;
    margin-top: 150px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    position: relative;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    color: #002b7f;
  }
  
  .login-box input {
    width: 60%;
    margin: 10px auto;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .login-box .forgot {
    width: 60%;
    margin: 10px auto;
    display: block;
    text-align: left;
    font-size: 12px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-box .sign-in {
    width: 30%;
    margin: 10px auto;
    display: block;
    background-color: #003465;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }

  .login-box label {
    display: block;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 6px;
    margin-left: 110px;
    font-weight: 500;
    color: #002b7f;
    font-size: 14px;
  }
  
  .login-box .register-text {
    font-size: 12px;
    margin-top: 20px;
  }
  
  .login-box .register-text a {
    color: #003465;
    font-weight: bold;
  }
  
  .back-button {
    background: none;
    border: none;
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
  }


  .back-button {
    background-color: #3D4766;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 12px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: all 0.2s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .back-button:hover {
    background-color: white;
    color: white;
  }
  

  